Repository santosr2/rexos: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cppcheck

.pre-commit-config.yaml:

# RexOS Pre-commit Configuration
# See https://pre-commit.com for more information
#
# Install: pre-commit install
# Run: pre-commit run --all-files
#
# Inspired by: mise, uv, ripgrep, uptool

default_stages: [pre-commit]
fail_fast: false

# Exclude generated and vendor directories
exclude: |
  (?x)^(
    target/|
    vendor/|
    dist/|
    node_modules/|
    \.git/
  )

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --all
        language: system
        types: [rust]
        pass_filenames: false
        stages: [push]

  # C/C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        types_or: [c, c++]
        args: ['--style=file', '--fallback-style=Google']

  # C/C++ linting with cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types_or: [c, c++]
        args:
          - '--enable=warning,style,performance,portability'
          - '--suppress=missingIncludeSystem'
          - '--error-exitcode=1'
          - '--inline-suppr'
          - '-I'
          - 'c/emulator-bridge'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        types: [shell]

  # Shell script formatting
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']
        types: [shell]

  # GitHub Actions linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--fix', '--disable', 'MD013', 'MD033', 'MD041']

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--config', '.codespellrc']
        exclude: |
          (?x)^(
            target/|
            Cargo\.lock|
            .*\.lock|
            .*\.min\.js
          )

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'Cargo\.lock'

fix: add missing script ignored by gitignore
  scripts/build/build.sh
  scripts/build/flash-image.sh
Due: none

chore: update readme
  README.md
Due: none

feat: add support for rg353ps
  crates/rexos-hal/src/device.rs
  crates/rexos-hal/src/lib.rs
  crates/rexos-hal/src/mock.rs
  crates/rexos-launcher/src/main.rs
  mise.toml
  packaging/buildroot/board/rg353/dts/README.md
  packaging/buildroot/board/rg353/dts/rk3566-anbernic-rg353p.dts
  packaging/buildroot/board/rg353/dts/rk3566-anbernic-rg353ps.dts
  packaging/buildroot/board/rg353/dts/rk3566-anbernic-rg353x.dtsi
  packaging/buildroot/board/rg353/dts/rk3566-anbernic-rgxx3.dtsi
  packaging/buildroot/configs/rexos_rg353_defconfig
  testing/README.md
  testing/profiles/qemu-virt.toml
  testing/profiles/rg353m.toml
  testing/profiles/rg35xx.toml
  testing/profiles/rgb30.toml
  testing/qemu/run-qemu.sh
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix: restore mise tools and deploy docs to github pages
  .github/workflows/ci.yml
  mise.toml
Due: none

feat(buildroot): add complete SD card image build system
  docs/BUILDING.md
  packaging/buildroot/Config.in
  packaging/buildroot/board/rg353/extlinux.conf
  packaging/buildroot/board/rg353/genimage.cfg
  packaging/buildroot/board/rg353/post-build.sh
  packaging/buildroot/board/rg353/post-image.sh
  packaging/buildroot/configs/rexos_rg353_defconfig
  packaging/buildroot/package/libretro-cores/Config.in
  packaging/buildroot/package/libretro-cores/libretro-cores.mk
  scripts/build/build-image.sh
  scripts/build/download-cores.sh
  scripts/runtime/install/first-boot.sh
Due: none

feat: complete launcher integration and remove dead code
  crates/rexos-emulator/src/launcher.rs
  crates/rexos-emulator/tests/integration_tests.rs
  crates/rexos-hal/Cargo.toml
  crates/rexos-hal/src/mock.rs
  crates/rexos-init/src/main.rs
  crates/rexos-launcher/Cargo.toml
  crates/rexos-launcher/src/main.rs
  crates/rexos-library/src/database.rs
  crates/rexos-library/src/lib.rs
  crates/rexos-library/src/metadata.rs
  crates/rexos-library/src/scanner.rs
  crates/rexos-network/src/bluetooth.rs
  crates/rexos-network/src/wifi.rs
  crates/rexos-storage/src/mount.rs
  crates/rexos-storage/src/partition.rs
  crates/rexos-storage/src/watcher.rs
  crates/rexos-update/src/checker.rs
  crates/rexos-update/src/lib.rs
  crates/rexos-update/src/verification.rs
  tests/integration/emulator_tests.rs
  tests/integration/hal_tests.rs
  tests/integration/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(ci): correct C bridge path from c/ to ffi/
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): resolve MSRV and compilation issues
  .pre-commit-config.yaml
  crates/rexos-hal/src/device.rs
  crates/rexos-hal/src/display.rs
  crates/rexos-hal/src/input.rs
  crates/rexos-init/src/main.rs
  crates/rexos-launcher/src/main.rs
  deny.toml
  ffi/emulator-bridge/src/emulator_bridge.c
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cppcheck

fix(ci): mark unused C functions in input_remap.c
  ffi/emulator-bridge/src/input_remap.c
Due: cppcheck

fix(ci): fix clippy, cargo-deny, and C bridge warnings
  crates/rexos-update/src/downloader.rs
  deny.toml
  ffi/emulator-bridge/src/input_remap.c
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cppcheck

fix(ci): fix MSRV if-let chains and cargo-deny config
  crates/rexos-hal/src/audio.rs
  deny.toml
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(ci): convert all if-let chains for MSRV 1.85 compatibility
  .claude/PROMPT.md
  .claude/commands/build.md
  .claude/commands/check.md
  .claude/commands/ci.md
  .claude/commands/cross-build.md
  .claude/commands/docs.md
  .claude/commands/lint.md
  .claude/commands/new-crate.md
  .claude/commands/security.md
  .claude/commands/test.md
  .claude/settings.json
  .claudeignore
  .gitignore
  CLAUDE.md
  GETTING_STARTED.md
  PROJECT_SUMMARY.md
  QUICKSTART.md
  ROADMAP.md
  crates/rexos-emulator/src/retroarch.rs
  crates/rexos-launcher/src/main.rs
  crates/rexos-library/src/scanner.rs
  crates/rexos-network/src/bluetooth.rs
  crates/rexos-network/src/wifi.rs
  crates/rexos-update/src/checker.rs
  crates/rexos-update/src/installer.rs
  crates/rexos-update/src/manifest.rs
  docs/BEST_PRACTICES.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(ci): convert all if-let chains for MSRV 1.85 compatibility
  crates/rexos-emulator/src/retroarch.rs
  crates/rexos-launcher/src/main.rs
  crates/rexos-library/src/scanner.rs
  crates/rexos-network/src/bluetooth.rs
  crates/rexos-network/src/wifi.rs
  crates/rexos-update/src/checker.rs
  crates/rexos-update/src/installer.rs
  crates/rexos-update/src/manifest.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test
